.env
data/supplemental_landmarks/.
data/train_landmarks/.
data/.
ref_conformer/
ref_video-classification/
ref_Pytorch-MSCRED/
data/

frame0.parquet
frame1.parquet
frame2.parquet
partial_train_0.parquet
partial_train_1.parquet
partial_train_2.parquet


tf/
ckpt/